$cBg: #fbf1c7;
$cFontNormal: #282828;
$cFontMedium: #504945;
$cFontLight: #928374;
$cLink: #458588;
$cLinkHover: #076678;

$sFontRootFull: 20px;
$sFontRootCompact: 18px;
$sFontBody: 1rem;
$sFontSubText: 0.9rem;
$sFontLogo: 1.3rem;
$sFontH1: 2rem;
$sFontH2: 1.6rem;
$sFontH3: 1.3rem;
$sFontH4: 1.1rem;
$sFontH5: 1.1rem;
$sFontH6: 1.1rem;
$sPadding: 1rem;
$sPaddingXs: $sPadding;
$sPaddingSm: $sPadding * 2;
$sPaddingMd: $sPadding * 3;
$sPaddingLg: $sPadding * 4;
$sMediaSm: 400px;
$sMediaMd: 960px;
$sMediaLg: 1200px;

@mixin media($sizes...) {
  @if index($sizes, xs) != null {
    @media only screen and (max-width: $sMediaSm) { @content; }
  }
  @if index($sizes, sm) != null {
    @media only screen and (min-width: $sMediaSm) and (max-width: $sMediaMd) { @content; }
  }
  @if index($sizes, md) != null {
    @media only screen and (min-width: $sMediaMd) and (max-width: $sMediaLg) { @content; }
  }
  @if index($sizes, lg) != null {
    @media only screen and (min-width: $sMediaLg) { @content; }
  }
}

@mixin link($color: $cLink) {
  color: $color;
  text-decoration: none;

  &:hover {
    $colorHover: darken($color, 10%);
    color: $colorHover;
    text-decoration: underline solid $colorHover;
  }
}

@mixin section-heading($margin-count) {
  font-size: $sFontH3;
  color: $cFontLight;
  margin-bottom: $sPadding * $margin-count;
}
