* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: $sFontRootFull;

  @include media(xs, sm) {
    font-size: $sFontRootCompact;
  }
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontFamilyHeadings;
}

h1 {
  font-size: $sFontH1;
}

h2 {
  font-size: $sFontH2;
}

h3 {
  font-size: $sFontH3;
}

h4 {
  font-size: $sFontH4;
}

h5 {
  font-size: $sFontH5;
}

h6 {
  font-size: $sFontH6;
}

p {
  line-height: 2;
}

a {
  @include link;
}

code {
  font-family: $fontFamilyMono;
}

body {
  display: flex;
  justify-content: center;
  background-color: $cBg;
  color: $cFontNormal;
  font-family: $fontFamilyBody;
  padding: $sPaddingLg;
  min-height: 100vh;

  @include media(xs, sm) {
    padding-left: $sPaddingSm;
    padding-right: $sPaddingSm;
  }
}

main {
  width: 100%;
  max-width: 900px;

  &.layout-normal {
    align-self: flex-start
  }

  &.layout-vertically-centered {
    align-self: center;
  }

  & > * {
    width: 100%;
  }

  section[class^="section-"]:not(:last-of-type) {
    margin-bottom: $sPadding * 3;
  }
}
