<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Dhruv Dang</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700" rel="stylesheet">
    <% if (inlineCss) { %>
      <link href="app.css?__inline=true" rel="stylesheet" type="text/css" />
    <% } else { %>
      <link href="/app.css" rel="stylesheet" type="text/css" />
    <% } %>
    <% if (inlineJs) { %>
      <script src="app.js?__inline=true"></script>
    <% } else { %>
      <script src="/app.js"></script>
    <% } %>
    <script src="/highlight.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108267052-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    </script>
  </head>
  <body dir="ltr" lang="en">
    <script>
      (function() {

        //embed elm application
        var node = document.body;
        var app = Elm.Main.embed(node);

        //command to scroll window along Y axis to fixed value
        app.ports.windowScrollYTo.subscribe(function (y) {
          window.scrollTo(0, y);
        });

        //command to set page metadata
        app.ports.setPageMetaData.subscribe(function (data) {
          removeAllMeta();
          //constants
          addMeta("name", "twitter:card", "summary");
          //title
          document.title = data.title;
          addMeta("name", "twitter:title", data.title);
          addMeta("property", "og:title", data.title);
          //description
          addMeta("name", "description", data.description);
          addMeta("name", "twitter:description", data.description);
          addMeta("property", "og:description", data.description);
          //url
          addMeta("name", "twitter:url", window.location.href);
          addMeta("property", "og:url", window.location.href);
          //google analytics page view
          gtag('config', '<%= googleAnalyticsTrackingId %>');
        });

        function addMeta(nameAttr, nameValue, contentValue) {
          var meta = document.createElement("meta");
          meta.setAttribute(nameAttr, nameValue);
          meta.setAttribute("content", contentValue);
          document.head.appendChild(meta);
        }

        function removeAllMeta() {
          removeEl('meta[name="twitter:card"]');
          removeEl('meta[name="description"]');
          //removeEl('meta[name="keywords"]');
          removeEl('meta[name="twitter:title"]');
          removeEl('meta[name="twitter:description"]');
          removeEl('meta[name="twitter:image"]');
          removeEl('meta[name="twitter:url"]');
          removeEl('meta[property="og:title"]');
          removeEl('meta[property="og:description"]');
          removeEl('meta[property="og:image"]');
          removeEl('meta[property="og:url"]');
        }
        
        function removeEl(selector) {
          var el = document.querySelector(selector);
          if (el) el.remove();
        }
      })();
    </script>
  </body>
</html>
