.page-post {

  .post-metadata,
  .post-body {
    padding-bottom: $sPaddingSm;
  }

  .post-metadata {

    .post-date {
      color: $cFontLight;
      font-size: $sFontSubText;
    }
  }

  .post-body,
  .post-footer {

    h3,
    h4,
    h5,
    h6 {
      padding-top: $sPaddingXs;
    }
    
    p {
      margin-bottom: $sPaddingXs;
    }

    ul,
    ol,
    pre,
    img,
    table {
      margin: $sPaddingSm 0;
    }

    pre {
      border-radius: 4px;
      padding: $sPaddingXs;
      font-size: $sFontBody;
      @extend .hljs;
    }
  }
}
