.page-post {

  .post-metadata {
    padding-bottom: $sPaddingSm;

    .post-date {
      color: $cFontLight;
      font-size: $sFontSubText;
    }
  }

  .post-body {
    
    p {
      margin-bottom: $sPaddingXs;
    }

    ul,
    ol,
    pre,
    img,
    table {
      margin: $sPaddingSm 0;
    }

    pre {
      border-radius: 4px;
      padding: $sPaddingXs;
      font-size: $sFontBody;
      @extend .hljs;
    }
  }
}
