section.section-posts {

  h2 {
    @include section-heading(2);
  }

  .posts {

    li:not(:last-child) {
      margin-bottom: $sPaddingXs;
    }

    a {
      font-size: $sFontH4;
    }
  }

  & > div {
    color: $cFontLight;
    font-size: $sFontSubText;
  }
}
