header {
  padding-left: $sPaddingXs;
  padding-right: $sPaddingXs;
  padding-bottom: $sPaddingSm;
  margin-bottom: $sPaddingSm;

  @include media(xs, sm) {

    &.header-compact {

      h1 {
        margin-bottom: 0;
      }

      p {
        display: none;
      }
    }
  }

  h1 {
    font-size: $sFontLogo;

    a {
      @include link($color: $cFontNormal);
    }
  }

  p {
    font-size: $sFontSubText;

    @include media(xs, sm) {
      display: inline;

      &:not(:last-of-type) {
        margin-right: 4px;
      }
    }
  }

  .layout-normal & {

    h1 a {
      @include link($color: $cFontLight);
    }
    
    p {
      color: $cFontLight;
    }
  }

  .layout-vertically-centered & {
    border-bottom: 1px solid $cBorder;
  }
}
